;; -*- coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Fri Feb 18 13:17:58 2005
;; Emacs version 21.2.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("sub default" "sub constructor" "constructor" "constructor method" "sub getne" "current" "getnext" "geto" "getobject" "getnextobjectid"))
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section:
(desktop-create-buffer 205
  "/home/jjordan/src/perl/Test-MockClass/Makefile.PL"
  "Makefile.PL"
  'perl-mode
  '(nil)
  1
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/jjordan/src/perl/Perl-SemanticNet/t/01_SemanticNet_Node.t"
  "01_SemanticNet_Node.t"
  'cperl-mode
  '(nil)
  441
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/jjordan/src/perl/Test-MockClass/t/00_MockClass.t"
  "00_MockClass.t"
  'cperl-mode
  '(nil)
  2858
  '(1 t)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/jjordan/src/perl/Test-MockClass/lib/Test/MockClass.pm"
  "MockClass.pm"
  'cperl-mode
  '(nil)
  12990
  '(17434 t)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/tmp/cvsdz8zNY"
  "cvsdz8zNY"
  'fundamental-mode
  nil
  14
  '(nil nil)
  nil
  nil
  nil)

